.flyout {
  position: fixed;
  bottom: 80px;
  width: 300px;
  border-radius: 8px;
  padding: 10px;
  z-index: 1;
  background-color: var(--bg-color);
  border: 1px solid var(--main-theme-color);
}

.flyoutButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}
